<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
  </head>

  <body>
    <div id="app">
      <router-link to="/top">トップページに戻る</router-link>
      <router-view></router-view>
    </div>

    <script type="text/x-template" id="top">
      <div>
        <h1>AWS Icon Quiz</h1>
        <div>
          <router-link :to="{ name: 'questions', params: { questionId: 1 }}">
            はじめる
          </router-link>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="questions">
        <div>
            <h1>AWS Icon Quiz</h1>
            <question :question="this.Questions[parseInt(this.$route.params.questionId)]" :player-answers="this.playerAnswers" :order="parseInt(this.$route.params.questionId)"></question>
                <div v-if="isLastQuestion()">
                    <router-link :to="{ name: 'result' }">
                        答え合わせ
                    </router-link>
                </div>
                <div v-else>
                    <router-link :to="{ name: 'questions', params: { questionId: parseInt(this.$route.params.questionId) + 1 }}">
                        次へ
                    </router-link>
                </div>
        </div>
    </script>

    <script type="text/x-template" id="question">
        <div>
            <div>
                Question: {{ question.question.name }}
            </div>
            <div>
                Answers:
                <div v-for="answer in question.answer" :key="answer.name">
                    <input type="radio" :id="`${answer.name}`" :value="`${answer.name}`" v-model="playerAnswers[order]">
                    <label :for="`${answer.name}`">{{ answer.name }}</label>
                </div>
            </div>
        </div>
    </script>

    <script>
        /*
         * Questionコンポーネント
         */
        Vue.component('question', {
            template: '#question',
            props: {
                question: {
                    type: Object
                },
                playerAnswers: {
                    type: Object
                },
                order: {
                    type: Number
                }
            }
        });

        /*
         * Questionsコンポーネント
         */
        var questionPage = {
            template: '#questions',
            methods: {
                fetchQuestion: function (order) {
                    if (typeof(order) === 'object') {
                        order = parseInt(this.$route.params.questionId);
                    }
                    const answerCount = 4;
                    // 1. ランダムにカテゴリを１つ選択
                    const categoryCount = Object.keys(this._data['Category']).length;
                    let questionCategory = {};
                    // 選択したカテゴリにサービスが回答候補数以上なかったらカテゴリを再選定
                    while (true) {
                        let questionCategoryName = Object.keys(this._data['Category'])[this.getRandomInt(categoryCount)];
                        questionCategory = this._data['Category'][questionCategoryName];
                        if (questionCategory.length >= answerCount){
                            break;
                        }
                    }

                    // 2. 選択したカテゴリから1つサービスを選択（出題サービス）
                    const questionServiceOrder = this.getRandomInt(questionCategory.length);
                    const questionService = questionCategory[questionServiceOrder];

                    // 3. 選択したカテゴリから3つサービスを選択（回答候補サービス）
                    // 正解サービスが2個でないよう、予め正解を抜いておく (後で正解サービスは入れる)
                    let tmpQuestionCategory = questionCategory;
                    tmpQuestionCategory.splice(questionServiceOrder, 1);

                    // 4. 正解サービスを回答リストに入れる
                    let answerServices = this.arrayShuffle(tmpQuestionCategory).slice(0, answerCount - 1);
                    answerServices[answerServices.length] = questionService;

                    this.Questions[order] = {
                        question: questionService,
                        answer: this.arrayShuffle(answerServices)
                    };
                },
                getRandomInt: function (max) {
                    return Math.floor(Math.random() * Math.floor(max));
                },
                arrayShuffle: function (array) {
                    let i, j, temp;
                    array = array.slice();
                    i = array.length;
                    if (i === 0) {
                        return array;
                    }
                    while (--i) {
                        j = Math.floor(Math.random() * (i + 1));
                        temp = array[i];
                        array[i] = array[j];
                        array[j] = temp;
                    }
                    return array;
                },
                isLastQuestion: function () {
                    const numberOfQuestion = 20;
                    return this.$route.params.questionId >= numberOfQuestion
                }
            },
            created: function () {
                this.fetchQuestion(parseInt(this.$route.params.questionId))
            },
            watch: {
                '$route': 'fetchQuestion'
            },
            data: function () {
                return {
                    "Questions": [],
                    "playerAnswers": {},
                    "Category" : {
                        "Analytics": [
                            {
                                file_path: "Athena.png",
                                name: "Amazon Athena",
                            },
                            {
                                file_path: "CloudSearch.png",
                                name: "Amazon CloudSearch",
                            },
                            {
                                file_path: "Data_Pipeline.png",
                                name: "AWS Data Pipeline",
                            },
                            {
                                file_path: "Elasticsearch_Service.png",
                                name: "Amazon Elasticsearch Service",
                            },
                            {
                                file_path: "EMR.png",
                                name: "Amazon EMR",
                            },
                            {
                                file_path: "Glue.png",
                                name: "AWS Glue",
                            },
                            {
                                file_path: "Kinesis.png",
                                name: "Amazon Kinesis",
                            },
                            {
                                file_path: "Lake_Formation.png",
                                name: "AWS Lake Formation",
                            },
                            {
                                file_path: "Quicksight.png",
                                name: "Amazon QuickSight",
                            },
                            {
                                file_path: "Redshift.png",
                                name: "Amazon Redshift",
                            }
                        ],
                        "Application-Integration": [
                            {
                                file_path: "AWS-Step-Functions.png",
                                name: "AWS Step Functions",
                            },
                            {
                                file_path: "Amazon-AppSync.png",
                                name: "Amazon AppSync",
                            },
                            {
                                file_path: "Amazon-EventBridge.png",
                                name: "Amazon EventBridge",
                            },
                            {
                                file_path: "Amazon-MQ.png",
                                name: "Amazon MQ",
                            },
                            {
                                file_path: "Amazon-Simple-Notification-Service-SNS.png",
                                name: "Amazon Simple Notification Service",
                            },
                            {
                                file_path: "Amazon-Simple-Queue-Service-SQS.png",
                                name: "Amazon Simple Queue Service",
                            },
                            {
                                file_path: "Application-Integration.png",
                                name: "Application Integration",
                            },
                        ]
                    }
                }
            }
        }

        /*
         * Topコンポーネント
         */
        var topPage = {
            template: '#top',
        }

        var router = new VueRouter({
            routes: [
                {
                    path: '/top',
                    name: 'top',
                    component: topPage
                },
                {
                    path: '/questions/:questionId',
                    name: 'questions',
                    component: questionPage,
                },
                {
                    path: '/result',
                    name: 'result',
                    component: {
                        template: '<div>this is a result page</div>'
                    }
                },
            ]
        })

        var vm = new Vue({
            router: router,
        }).$mount('#app')
    </script>
  </body>
<!-- TODO: $routesに依存しているコンポーネントをpropsを使ってこのコンポーネントを使い回せるようにする -->
<!-- TODO: コンポーネントを複数のファイルに分割する
import Home from '@/views/Home'
import Product from '@/views/Product'
// Vuexと同様で最初にプラグインとして登録
Vue.use(VueRouter)
// VueRouterインスタンスを生成する
const router = new VueRouter({
  // URLのパスと紐づくコンポーネントをマッピング
  routes: [
    {
      path: '/',
      component: Home
    },
    {
      path: '/product',
      component: Product
    }
  ]
})
-->
</html>
